<!DOCTYPE html>
<html>
  <head>
    <title>Ex02Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="application_title">application</h1>
    <%= yield %>
  </body>
</html>
